<html>
<head>
	<title>REST API</title>
</head>
<body bgcolor="#FEC6BB" font-size="20">
	<h1><center>Bank Rest API</center></h1>
	<br>
	<h2>To get branch details,the url is - 'https://credicxointerntask.herokuapp.com/branchdetails/<ifsc_code>'</h2>
	<h2><a href="https://credicxointerntask.herokuapp.com/branchdetails/AKJB0000009/">Click this link to view the details of branch with ifsc code - AKJB0000009</a></h2>
	<br>
	<h2>To get the details of all the branches of a bank in a given city, the url is 'https://credicxointerntask.herokuapp.com/branchdetails/<bank_name>/<city_name>'</h2>
	<h2><a href="https://credicxointerntask.herokuapp.com/branchlist/ABHYUDAYA%20COOPERATIVE%20BANK%20LIMITED/MUMBAI/">Click this link to view all the branch details of ABHYUDAYA COOPERATIVE BANK LIMITED in Mumbai </a></h2>
	<br>
	<h3 style="color:red"><i>Ensure that the url paramaters provided by you are valid(ifsc_name,bank_name,city_name)
	</i></h3>
</body>
</html>
